﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ePatates</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet">

 
</head>
<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Kategoriler</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Ömer Sercan</a>
                    <a href="#" class="list-group-item">Kandemir</a>
                    <a href="#" class="list-group-item">G1409.10013</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="~/img/slider/xboxacer.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/img/slider/gear.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/img/slider/iphone7.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/item/itempic.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Fiyat</h4>
                                <h4>
                                    @Html.ActionLink("Ürün Adı", "Item", "Home", new { area = "Item" }, null)
                                </h4>
                                <p> Ürün Açıklaması.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">Görüntülenme Sayısı</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/item/itempic.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Fİyat</h4>
                                <h4>
                                    @Html.ActionLink("Ürün Adı", "Item", "Home", new { area = "Item" }, null)
                                </h4>
                                <p>Ürün Açıklaması</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">Görüntülenme Sayısı</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/item/itempic.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Fiyat</h4>
                                <h4>
                                    @Html.ActionLink("Ürün Adı", "Item", "Home", new { area = "Item" }, null)
                                </h4>
                                <p>Ürün Açıklaması</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">Görüntülenme Sayısı</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/item/itempic.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Fiyat</h4>
                                <h4>
                                    @Html.ActionLink("Ürün Adı", "Item", "Home", new { area = "Item" }, null)
                                </h4>
                                <p>Ürün Açıklaması</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">Ürün Açıklaması</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/item/itempic.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Fiyat</h4>
                                <h4>
                                    @Html.ActionLink("Ürün Adı", "Item", "Home", new { area = "Item" }, null)
                                </h4>
                                <p>Ürün Açıklaması</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">Görüntülenme Sayısı</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/item/itempic.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Fiyat</h4>
                                <h4>
                                    @Html.ActionLink("Ürün Adı", "Item", "Home", new { area = "Item" }, null)
                                </h4>
                                <p>Ürün Açıklaması</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">Görüntülenme Sayısı</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
